@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0
}

body{
    background-color: #F5F5F5;
}

.header{
    display:flex;   
    background-image: linear-gradient(to left, #FFFF, #86CECB);
    height: 110px;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: space-between;
    
}

.header_left{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 15px;
}
.header_text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "Poppins", sans-serif;
}
.header_text h1{
    font-size: 25px;
    font-weight: Bold;   
}

.parent{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.navbar{
    display: flex;
    background-color: #FFFF;
    gap: 80px;
    height: 90px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.icon{
    width:90px;
    height:90px;
    padding-right: 20px;
}

.search input{
    width: 380px;
    height: 65px;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid #919191;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
}

.diff_sel{
    width: 380px;
    height: 65px;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid #919191;
    padding-left: 10px;
    color: #919191;
    font-family: "Poppins", sans-serif;
}

.sort_by{
    width: 380px;
    height: 65px;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid #919191;
    padding-left: 10px;
    color: #919191;
    font-family: "Poppins", sans-serif;
}

.chart_card{
    display: flex;
    background-color: #FFFF;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 3px;
    height: 140px;
    align-items: center;
}

.chart_card p{
    margin-left: 10px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.expert:hover{
    box-shadow: 0 8px 20px #C02138;
}

.master:hover{
    box-shadow: 0 8px 20px #67148D;
}

.remaster:hover{
    box-shadow: 0 8px 20px #8C2CD5;
}

.title{
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.jacket_holder img{
    width: 114px;
    height: 114px;
    margin-left: 10px;
    border-radius: 10px;
}

.level_diff{
    display: inline-block;
    border-radius: 5px;
    padding: 4px 8px;
    margin-left: 10px;
    margin-right: 3px;
    font-family: "Montserrat", sans-serif;
}

.exp{
    background-color:#ff7b7b;
    color: #000;
}

.mas{
    background-color:#9f51dc;
    color: #000000;

}

.remas{
    background-color:#dbaaff;
    color: #000;
}