<<<<<<< HEAD
*{
    margin: 0;
    padding: 0
}

body{
    background-color: #F5F5F5;
}

.header{
    display:flex;   
    background-image: linear-gradient(to left, #FFFF, #86CECB);
    height: 172px;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: space-between;
    
}

.header_left{
    display: flex;
    justify-content: right;
    align-items: center;
}

.header_left h1{
    font-size: 25px;
    font-style: Bold;   
    font-family: Helvetica
}

.parent{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.navbar{
    display: flex;
    background-color: #FFFF;
    gap: 80px;
    height: 99px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
}

=======
.header{
    display:flex;   
}
>>>>>>> cfadb7c436d5a2403bb5f42529ac2f0f8397beac
.icon{
    width:90px;
    height:90px;
}

<<<<<<< HEAD
.search input{
    width: 380px;
    height: 65px;
    border-radius: 10px;
}

.diff_sel{
    width: 380px;
    height: 65px;
    border-radius: 10px;
}

.sort_by{
    width: 380px;
    height: 65px;
    border-radius: 10px;
}

.chart_card{
    display: flex;
    background-color: #FFFF;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 3px;
    height: 159px;
    align-items: center;
}

.chart_card p{
    padding: 1px;
    margin-left: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.title{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
=======
.chart_card{
    display: flex;
>>>>>>> cfadb7c436d5a2403bb5f42529ac2f0f8397beac
}

.jacket_holder img{
    width: 114px;
    height: 114px;
<<<<<<< HEAD
    margin-left: 10px;
    border-radius: 10px;
=======
>>>>>>> cfadb7c436d5a2403bb5f42529ac2f0f8397beac
}

.level_diff{
    display: inline-block;
    border-radius: 5px;
    padding: 4px 8px;
<<<<<<< HEAD
    margin-left: 10px;
    margin-right: 3px;
    font-family: Arial, Helvetica, sans-serif
=======
    margin-right: 3px;
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
>>>>>>> cfadb7c436d5a2403bb5f42529ac2f0f8397beac
}

.exp{
    background-color:#ff7b7b;
    color: #000;
}

.mas{
    background-color:#9f51dc;
<<<<<<< HEAD
    color: #000000;
=======
    color: #fff;
>>>>>>> cfadb7c436d5a2403bb5f42529ac2f0f8397beac

}

.remas{
    background-color:#dbaaff;
    color: #000;
}