/* Remove num. up/down Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Remove num. up/down firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
  background-color: #F5F5F5;
}

.form{
  margin-left: 250px;
  display: flex;
  background-color: #FFFF;
  height: 700px;
  width: 916px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}